# Django Configuration
DEBUG=True
SECRET_KEY=tu-clave-secreta-aqui

# Database Configuration - MariaDB
DATABASE_ENGINE=django.db.backends.mysql
DATABASE_NAME=ventas_20260601
DATABASE_USER=ventas_user_20260601
DATABASE_PASSWORD=tu-contraseña-aqui
DATABASE_HOST=192.168.18.59
DATABASE_PORT=3306

# Allowed Hosts
ALLOWED_HOSTS=localhost,127.0.0.1
